main
{
    background-color: hsl(130, 39%, 58%);
}

form
{
    font: normal normal normal 12px/1.5 Verdana ,Arial, Helvetica, sans-serif;
}

legend
{
    font-weight: bold;
    font-size: 1.5rem;
}

input[type=text], input[type=email], input[type=submit], select, option
{
    display:block;
    width:40%;
    height:2em;
}

select, option, label, legend
{
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.5rem;
}

