main
{ 
  padding: 0rem;
  background-color: hsl(130, 39%, 58%);
    
}


#gallery
{
    display: grid;
    grid-gap: 10px;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

img
{
    width:75%;
    height:75%;
}

@media(max-width: 600px)
{
  #gallery{
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}


  
